/* Project detail stylesheet */

/* WOTD */
.project-top-inner {
    background-color: #abfde9;
    padding: 100px;
}

.project-middle-inner {
    padding: 100px;
}

.project-middle-inner h3 {
    padding-top: 200px;
}

.project-img-container {
    text-align: center;
}

.projects-wotd-hr {
    border: 2px solid #abfde9;
}

.img-project {
    padding: 50px 0;
    width: 300px;
}

.img-project-right {
    margin-left: -200px;
}

.text-left {
    width: 70%;
}

.wordnik-logo {
    width: 90px;
}

.margin-bottom {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
    .img-project-right {
        margin-left: 0;
    }
    .rm-1199 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .text-left {
        width: 100%;
    }
    .project-top-inner {
        padding: 10px;
    }
    .img-project {
        width: 200px;
    }
    .project-top-inner {
        background-color: #fff;
        text-align: center;
    }
    .project-middle-inner h3 {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 425px) {
    .margin-bottom {
        margin-bottom: 0;
    }
    .project-middle-inner {
        padding: 10px;
    }
}

/* Grid */

