/* Main Stylesheet */

/***** 
** Global Styles **
*****/

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #32a852;
}

a:hover {
    color: #32a852;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
}

code {
    background-color: #f0f0f0;
    color: #000;
}

li {
    list-style-position: inside;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.animate-underline {
    position: relative;
    color: #32a852;
    text-decoration: none !important;
}

.animate-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #32a852;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none !important;
}

.animate-underline:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: #32a852;
    text-decoration: none !important;
}

.btn1 {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

.btn1:hover {
    background-color: rgb(33, 37, 41) !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/***** 
** Index.js **
*****/

/* .bg {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('/images/bg-min.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

#about {
    background-color: #fff;
}

#tech-stack {
    background-color: #fff;
    padding: 100px;
    color: #000;
}

@media only screen and (max-width: 425px) {
    #tech-stack {
        padding: 50px;
        text-align: center;
    }
}

#projects-section {
    background-color: rgb(33, 37, 41);
    color: #fff;
    padding: 100px;
}

#goals {
    background-color: #fff;
    padding: 20px 0;
}

@media only screen and (max-width: 425px) {
    .btn-todo-submit {
        width: 100%;
    }
    #projects-section {
        padding: 30px;
    }
}

#youtube-section {
    background-color: #FF0000;
    padding-bottom: 75px;
}

#youtube-section h2 {
    color: #fff;
}

.padding-bottom {
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

.btn {
    background-color: #212529;
    border: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
}

.centered h1 {
    font-size: 50px;
    font-weight: 300;
}

.centered p {
    font-size: 25px;
    font-weight: 300;
}

.centered-arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .padding-top {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #about {
        padding: 0px !important;
    }
    .p-left {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .centered {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .centered {
        width: 80%;
    }
}

/* adding links.js and about padding to this query */

@media only screen and (max-width: 425px) {
    .centered {
        width: 90%;
    }
    .centered h1 {
        font-size: 40px;
    }
    .link-row {
        width: 95% !important;
    }
    .padding-top {
        padding-top: 50px;
    }
    .input-todo {
        width: 100% !important;
    }
    .padding-bottom {
        padding-bottom: 25px;
    }
}

.odometer-num {
    font-size: 35px;
}

.about-img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: auto;
}

.img-container {
    padding: 5%;
}

/***** 
** Nav bar **
*****/

#global-nav {
    height: 120px;
}

@media only screen and (max-width: 767px) {
    #global-nav {
        height: auto !important;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff !important;
    }
}

.nav-scrolled-box-shadow {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

#global-nav {
    -webkit-transition: height .5s, line-height .5s;
    -webkit-transition: height .5s, line-height .5s;
    transition: height .5s, line-height .5s;
}

.navbar-brand, .nav-text {
    position: relative;
    font-size: 18px;
    color: #000 !important;
    font-weight: 300;
}

.active {
    font-weight: 600;
}

.nav-container-all {
    height: 120px;
}

.navbar-brand::before, .nav-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    margin-bottom: 5px;
}

.navbar-brand:hover::before, .nav-text:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.scrolled-nav {
    background-color: white;
    height: 60px !important;
    line-height: 60px;
    padding: 0px;
}

.scrolledLink {
    color: rgb(16, 16, 16) !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.unscrolledLink {
    color: #fff !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

/***** 
** Blog.js **
*****/

.blog-post {
    border-top: 1px solid rgba(230, 230, 230, 1);
}

.blog-post-title {
    color: #000;
    font-size: 22px;
    padding: 15px 0 5px 0;
}

.blog-post-title:hover {
    text-decoration: underline;
}

.blog-post-description {
    color: #000;
    font-size: 18px;
}